*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    display: flex;
    justify-content: center;

}


.login-container {
    width: 400px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 100px;
    padding: 2rem;
}

.login-container h1{
    font-size: 4rem;
    font-weight: normal;
    
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-container .form-element {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.login-container .form-element input{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #aaa;
}

.login-container input[type="submit"] {
    border: none;
    border-radius: 0.5rem;
    background: #006CE0;
    cursor: pointer;
    font-family: inherit;
    color: white;
    width: 4rem;
    padding: 0.5rem;
}