* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100vw;
    height: 10vh;
    background: #23242b;
}

aside {
    width: 15vw;
    height: 100vh;
    background: #262931;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

aside img {
    width: 6rem;
    height: 6rem;
}

aside ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
 
}


aside li{
    display: flex;
    gap: 1rem;
}

aside li img{
    width: 1rem;
    height: 1rem;
}

aside li a{
    color: white;
    text-decoration: none;
}

aside form button{
    all: unset;
    color: white;
    cursor: pointer;
}

.content{
    display: flex
}

.content__list{
    display: flex;
    gap: 1rem;
    padding: 2rem;
}


.content__list div{
     background: #262931;
     width: 5rem;
     height: 5rem;
     color: white;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }