@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}





/*

	background: #23242b;~
    	color: #127b8e;
        background: #C80000;
        	border: 1px solid #262931;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    	background: #262931;

        	background: #00CF22;
              border: 1px solid #aaa;
              	background: #E00051;
                	background: #006CE0;
                    	background: #FF98AA;
	color: #B20008;
    	background: #80CE91;
*/